<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Disk.Properties.Config.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Disk.Properties.Config.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<Disk.Properties.Config.Config>
      <setting name="X_MAX_ANGLE" serializeAs="String">
          <value>20</value>
      </setting>
      <setting name="Y_MAX_ANGLE" serializeAs="String">
          <value>20</value>
      </setting>
      <setting name="IP" serializeAs="String">
          <value>127.0.0.1</value>
      </setting>
      <setting name="PORT" serializeAs="String">
          <value>9998</value>
      </setting>
      <setting name="TARGET_MIN_TIME" serializeAs="String">
          <value>1000</value>
      </setting>
      <setting name="TARGET_MAX_TIME" serializeAs="String">
          <value>5000</value>
      </setting>
      <setting name="MOVE_TIME" serializeAs="String">
          <value>20</value>
      </setting>
      <setting name="SHOT_TIME" serializeAs="String">
          <value>200</value>
      </setting>
      <setting name="USER_INI_SPEED" serializeAs="String">
          <value>5</value>
      </setting>
      <setting name="USER_INI_RADIUS" serializeAs="String">
          <value>5</value>
      </setting>
      <setting name="ENEMY_INI_SPEED" serializeAs="String">
          <value>4</value>
      </setting>
      <setting name="ENEMY_INI_RADIUS" serializeAs="String">
          <value>5</value>
      </setting>
      <setting name="TARGET_INI_RADIUS" serializeAs="String">
          <value>7</value>
      </setting>
      <setting name="ENEMIES_NUM" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="USER_WND_LOG_FILE" serializeAs="String">
          <value>userWND.log</value>
      </setting>
      <setting name="USER_CEN_LOG_FILE" serializeAs="String">
          <value>userCEN.log</value>
      </setting>
      <setting name="USER_ANG_LOG_FILE" serializeAs="String">
          <value>userANG.log</value>
      </setting>
      <setting name="ENEMY_WND_LOG_NAME" serializeAs="String">
          <value>enemyWND</value>
      </setting>
      <setting name="ENEMY_CEN_LOG_NAME" serializeAs="String">
          <value>enemyCEN</value>
      </setting>
      <setting name="ENEMY_ANG_LOG_NAME" serializeAs="String">
          <value>enemyANG</value>
      </setting>
      <setting name="LOG_SEPARATOR" serializeAs="String">
          <value>;</value>
      </setting>
      <setting name="LOG_EXTENSION" serializeAs="String">
          <value>.log</value>
      </setting>
      <setting name="ENEMY_LOG_PATH" serializeAs="String">
          <value />
      </setting>
      <setting name="USER_COLOR" serializeAs="String">
          <value>Green</value>
      </setting>
      <setting name="ANGLE_X_SHIFT" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="ANGLE_Y_SHIFT" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="CALIBRATION_TIMEOUT" serializeAs="String">
          <value>100</value>
      </setting>
      <setting name="RECEIVE_TIMEOUT" serializeAs="String">
          <value>2000</value>
      </setting>
      <setting name="MAPS_DIR_PATH" serializeAs="String">
          <value>maps</value>
      </setting>
      <setting name="MAP_ID" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="LANGUAGE" serializeAs="String">
          <value>ru-RU</value>
      </setting>
      <setting name="DB_CONNECTION" serializeAs="String">
          <value>Data Source=C:\\Archive\\6 semester\\DiskDotNet\\Disk\\Db\\disk.db</value>
      </setting>
  </Disk.Properties.Config.Config>
    </userSettings>
    <applicationSettings>
		<Disk.Properties.Config.Config>
      <setting name="SCREEN_INI_WIDTH" serializeAs="String">
          <value>600</value>
      </setting>
      <setting name="SCREEN_INI_HEIGHT" serializeAs="String">
          <value>600</value>
      </setting>
      <setting name="MAIN_DIR_PATH" serializeAs="String">
          <value>Диск. Данные</value>
      </setting>
  </Disk.Properties.Config.Config>
    </applicationSettings>
</configuration>